body {
  margin: 0;
  background-color: #666;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  margin: 0;
  padding: 1em;
}

#cube {
  margin: 0px;
  padding: 0px;
}

#cube twisty-player {
  width: 15em;
  height: 15em;
}

.controls {
  margin-left: 0.5em;
}

.controls button {
  color: white;
  background-color: #333;
  border: 1px solid silver;
  margin: 0.1em;
  padding: 0.5em 1em 0.5em 1em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1em;
}

.info {
  display: grid;
  grid-template-columns: 5em 15em;
  margin: 1em 0em 1em 0em;
}

.info input {
  font-size: 0.5em;
  font-weight: bold;
  color: black;
  background-color: #eee;
  border: 1px solid #333;
  margin: 0.5em;
  padding: 0.5em 1em 0.5em 1em;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 1em;
}

.info label {
  text-wrap: nowrap;
  font-size: 0.5em;
  color: white;
  text-align: right;
  margin: auto 0px auto 0px;
  padding: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.info label::after {
  content: ':';
}

#timer {
  position: absolute;
  font-size: 2em;
  top: 9em;
  left: 0.5em;
  width: 8.3em;
  padding: 1em;
  border: 1px solid silver;
  border-radius: 1em;
  background-color: #333;
  color: white;
  text-align: center;
  z-index: 10;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  display: none;
}

.help {
  color: #ffffff80;
  font-family: Arial, Helvetica, sans-serif;
  width: 20rem;
  font-size: 0.8em;
  margin-top: 0.5em;
}